<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Desafio Globo - Live Search</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <form id="formSearch" class="form-search" action="http://g1.globo.com/busca/" method="GET" accept-charset="utf-8">
                <fieldset>
                    <input id="inputSearch" class="input-search" type="text" name="q" placeholder="BUSCAR" autocomplete="off">
                    <label for="inputSearch" class="glass"></label>
                </fieldset>
            </form>

            <div id="list-suggestions">

            </div>
        </div>
    </header>
    <script src="/js/app.min.js"></script>
</body>
</html>