<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Desafio Globo - Live Search</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <form id="formSearch" class="form-search" action="http://g1.globo.com/busca/" method="GET" accept-charset="utf-8">
                <fieldset>
                    <input id="inputSearch" class="input-search" type="text" name="q" placeholder="BUSCAR" autocomplete="off">
                    <label for="inputSearch" class="glass"></label>
                </fieldset>
            </form>
        </div>
        <div id="listSuggestions" class="list-suggestions">
            <ul class="search-results">
                <li class="feature-content">
                    <a class="logo" href="http://g1.globo.com/pop-arte/index.html">
                        <img src="http://s.glbimg.com/bu/i/fc/5fb2e18d-a47f-4bb8-9a7e-b66871cf53c0.png" alt="">
                    </a>
                    <a class="title" href="http://g1.globo.com/pop-arte/index.html">Pop & Arte</a>
                </li>

                <li class="suggestions-text">Sugestões de busca</li>
                <li class="suggestion-item"><a href="#">musica</a></li>
                <li class="suggestion-item"><a href="#">musicas</a></li>
                <li class="suggestion-item"><a href="#">musica inedita de raul</a></li>
                <li class="suggestion-search globo"><a href="#">buscar '<strong>mus</strong>' na Globo.com ›</a></li>
                <li class="suggestion-search web"><a href="#">buscar '<strong>mus</strong>' na Web ›</a></li>
            </ul>
        </div>
    </header>
    <script src="/js/app.min.js"></script>
</body>
</html>